arrays/sparseArrays/bin/*
arrays/sparseArrays/obj/*
arrays/sparseArrays/.vs/*
arrays/leftRotation/bin/*
arrays/leftRotation/obj/*
arrays/leftRotation/.vs/*
arrays/oddNumbers/bin/*
arrays/oddNumbers/obj/*
arrays/oddNumbers/.vs/*
arrays/findNumber/bin/*
arrays/findNumber/obj/*
arrays/findNumber/.vs/*
.vs/*
