arrays/sparseArrays/bin/*
arrays/sparseArrays/obj/*
arrays/sparseArrays/.vs/*
arrays/leftRotation/bin/*
arrays/leftRotation/obj/*
arrays/leftRotation/.vs/*
arrays/oddNumbers/bin/*
arrays/oddNumbers/obj/*
arrays/oddNumbers/.vs/*
arrays/findNumber/bin/*
arrays/findNumber/obj/*
arrays/findNumber/.vs/*
arrays/swapNodes/bin/*
arrays/swapNodes/obj/*
arrays/swapNodes/.vs/*
arrays/decreasingRatings/bin/*
arrays/decreasingRatings/obj/*
arrays/decreasingRatings/.vs/*
trees/swapNodes/bin/*
trees/swapNodes/obj/*
trees/swapNodes/.vs/*
vanhak/MorseCode/bin/*
vanhak/MorseCode/obj/*
vanhak/MorseCode/.vs/*
vanhak/SortColumnsOfCsvFile/bin/*
vanhak/SortColumnsOfCsvFile/obj/*
vanhak/SortColumnsOfCsvFile/.vs/*
.vs/*
